---
import SEO from './seo.astro'

import './blank.css'
import '@fontsource-variable/manrope'

export type Props = astroHTML.JSX.HTMLAttributes

const { props } = Astro

/**
 * Docs about custom banner
 * tl;dr must serve as https
 * https://developer.apple.com/documentation/arkit/arkit_in_ios/adding_an_apple_pay_button_or_a_custom_action_in_ar_quick_look#3402837
 */
---

<html lang="en" data-theme="thaitoyou">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=contain"
    />
    <link rel="icon" href="/favicon.png" />

    <slot name="seo">
      <SEO />
    </slot>

    <slot name="head" />
  </head>
  <body>
    <div class="p-4 mx-auto max-w-6xl w-full">
      <slot name="above-main" />
      <main {...props}>
        <slot />
      </main>
      <slot name="below-main" />
    </div>
  </body>
</html>
