<html>
  <meta
    name="viewport"
    content="maximum-scale=1, minimum-scale=1, initial-scale=1"
  />
  <body>
    <div class="p-12 text-white">
      <h1>Hello</h1>
    </div>
  </body>
</html>

<style>
  body {
    @apply bg-neutral-900;
  }
</style>
