---
import Twemoji from '$common/twemoji.astro'

import '$layout/blank.css'
---

<html>
  <head>
    <meta
      name="viewport"
      content="maximum-scale=1, minimum-scale=1, initial-scale=1"
    />
  </head>
  <body class="px-6 py-2 text-white h-full flex justify-between items-center">
    <div class="leading-none">
      <p class="">Tap on her face to play a sound</p>
      <span class="text-[0.6rem]">Discover more projects at rayriffy.com</span>
    </div>
    <Twemoji emoji="🗼" class="w-20 h-20" />
  </body>

  <style>
    html,
    body {
      height: 100vh;
    }

    body {
      @apply bg-neutral-900;
    }
  </style>
</html>
